In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN','NAME'],axis=1,inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
unique_count = application_df.nunique()
print(unique_count)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
value_count = application_df['APPLICATION_TYPE'].value_counts()
print(value_count)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500

application_types_to_replace = value_count[value_count < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
value_count_class = application_df['CLASSIFICATION'].value_counts()
print(value_count_class)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
value_count_gter_1 = value_count_class[value_count_class > 1]
print(value_count_gter_1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_class = 1883

classifications_to_replace = value_count_class[value_count_class < cutoff_class].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
df_dummies = pd.get_dummies(application_df)#, columns=['APPLICATION_TYPE','CLASSIFICATION'])
df_dummies = df_dummies.astype(float)
df_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,5000.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,108590.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,6692.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,142590.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
y = df_dummies['IS_SUCCESSFUL'].values
X = df_dummies.drop('IS_SUCCESSFUL',axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train,X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=50, activation='relu', input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=50, activation = "relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=50, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"

 Layer (type)                          Output Shape                         Param #

 dense_5 (Dense)                       (None, 50)                             2,200

 dense_6 (Dense)                       (None, 50)                             2,550

 dense_7 (Dense)                       (None, 50)                             2,550

 dense_8 (Dense)                       (None, 1)                                 51

 Total params: 7,351 (28.71 KB)

 Trainable params: 7,351 (28.71 KB)

 Non-trainable params: 0 (0.00 B)

In [22]:
# Compile the model (1st attempt)
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [23]:
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
858/858  3s 2ms/step - accuracy: 0.7010 - loss: 0.5925
Epoch 2/100
858/858  1s 2ms/step - accuracy: 0.7305 - loss: 0.5573
Epoch 3/100
858/858  1s 2ms/step - accuracy: 0.7351 - loss: 0.5473
Epoch 4/100
858/858  1s 2ms/step - accuracy: 0.7338 - loss: 0.5475
Epoch 5/100
858/858  3s 2ms/step - accuracy: 0.7344 - loss: 0.5463
Epoch 6/100
858/858  2s 3ms/step - accuracy: 0.7361 - loss: 0.5474
Epoch 7/100
858/858  2s 2ms/step - accuracy: 0.7305 - loss: 0.5493
Epoch 8/100
858/858  1s 2ms/step - accuracy: 0.7326 - loss: 0.5479
Epoch 9/100
858/858  3s 2ms/step - accuracy: 0.7337 - loss: 0.5448
Epoch 10/100
858/858  1s 2ms/step - accuracy: 0.7337 - loss: 0.5405
Epoch 11/100
858/858  1s 2ms/step - accuracy: 0.7351 - loss: 0.5433
Epoch 12/100
858/858  1s 2ms/step - accuracy: 0.7343 - loss: 0.5440
Epoch 13/100
858/858  3s 3ms/step - accuracy: 0.7336 - loss: 0.5458
Epoch 14/100
858/858  2s 2ms/step - accuracy: 0.7360 - loss: 0.5424
Epoch 15/100
858/858  1s 2ms/step - accuracy: 0.7381 - loss: 0.5401
Epoch 16/100
858/858  1s 2ms/step - accuracy: 0.7343 - loss: 0.5389
Epoch 17/100
858/858  1s 2ms/step - accuracy: 0.7390 - loss: 0.5403
Epoch 18/100
858/858  2s 2ms/step - accuracy: 0.7331 - loss: 0.5464
Epoch 19/100
858/858  1s 2ms/step - accuracy: 0.7332 - loss: 0.5404
Epoch 20/100
858/858  3s 3ms/step - accuracy: 0.7370 - loss: 0.5394
Epoch 21/100
858/858  2s 2ms/step - accuracy: 0.7317 - loss: 0.5450
Epoch 22/100
858/858  1s 2ms/step - accuracy: 0.7400 - loss: 0.5364
Epoch 23/100
858/858  1s 2ms/step - accuracy: 0.7389 - loss: 0.5375
Epoch 24/100
858/858  2s 2ms/step - accuracy: 0.7405 - loss: 0.5360
Epoch 25/100
858/858  3s 2ms/step - accuracy: 0.7382 - loss: 0.5370
Epoch 26/100
858/858  3s 3ms/step - accuracy: 0.7385 - loss: 0.5372
Epoch 27/100
858/858  2s 2ms/step - accuracy: 0.7407 - loss: 0.5361
Epoch 28/100
858/858  3s 2ms/step - accuracy: 0.7337 - loss: 0.5427
Epoch 29/100
858/858  3s 2ms/step - accuracy: 0.7411 - loss: 0.5354
Epoch 30/100
858/858  1s 2ms/step - accuracy: 0.7349 - loss: 0.5406
Epoch 31/100
858/858  3s 2ms/step - accuracy: 0.7343 - loss: 0.5414
Epoch 32/100
858/858  3s 2ms/step - accuracy: 0.7401 - loss: 0.5361
Epoch 33/100
858/858  2s 2ms/step - accuracy: 0.7393 - loss: 0.5369
Epoch 34/100
858/858  3s 2ms/step - accuracy: 0.7397 - loss: 0.5363
Epoch 35/100
858/858  3s 2ms/step - accuracy: 0.7378 - loss: 0.5360
Epoch 36/100
858/858  2s 2ms/step - accuracy: 0.7405 - loss: 0.5348
Epoch 37/100
858/858  3s 3ms/step - accuracy: 0.7397 - loss: 0.5377
Epoch 38/100
858/858  1s 2ms/step - accuracy: 0.7402 - loss: 0.5347
Epoch 39/100
858/858  2s 2ms/step - accuracy: 0.7399 - loss: 0.5365
Epoch 40/100
858/858  3s 2ms/step - accuracy: 0.7413 - loss: 0.5350
Epoch 41/100
858/858  2s 2ms/step - accuracy: 0.7395 - loss: 0.5371
Epoch 42/100
858/858  3s 2ms/step - accuracy: 0.7400 - loss: 0.5332
Epoch 43/100
858/858  2s 2ms/step - accuracy: 0.7330 - loss: 0.5406
Epoch 44/100
858/858  2s 2ms/step - accuracy: 0.7409 - loss: 0.5348
Epoch 45/100
858/858  1s 2ms/step - accuracy: 0.7417 - loss: 0.5318
Epoch 46/100
858/858  1s 2ms/step - accuracy: 0.7414 - loss: 0.5347
Epoch 47/100
858/858  1s 2ms/step - accuracy: 0.7377 - loss: 0.5364
Epoch 48/100
858/858  1s 2ms/step - accuracy: 0.7389 - loss: 0.5346
Epoch 49/100
858/858  1s 2ms/step - accuracy: 0.7419 - loss: 0.5348
Epoch 50/100
858/858  2s 3ms/step - accuracy: 0.7420 - loss: 0.5355
Epoch 51/100
858/858  2s 2ms/step - accuracy: 0.7392 - loss: 0.5351
Epoch 52/100
858/858  1s 2ms/step - accuracy: 0.7369 - loss: 0.5331
Epoch 53/100
858/858  3s 2ms/step - accuracy: 0.7389 - loss: 0.5367
Epoch 54/100
858/858  3s 2ms/step - accuracy: 0.7457 - loss: 0.5308
Epoch 55/100
858/858  3s 2ms/step - accuracy: 0.7396 - loss: 0.5366
Epoch 56/100
858/858  2s 2ms/step - accuracy: 0.7396 - loss: 0.5338
Epoch 57/100
858/858  2s 2ms/step - accuracy: 0.7397 - loss: 0.5342
Epoch 58/100
858/858  1s 2ms/step - accuracy: 0.7413 - loss: 0.5310
Epoch 59/100
858/858  3s 2ms/step - accuracy: 0.7387 - loss: 0.5359
Epoch 60/100
858/858  1s 2ms/step - accuracy: 0.7407 - loss: 0.5326
Epoch 61/100
858/858  3s 2ms/step - accuracy: 0.7434 - loss: 0.5308
Epoch 62/100
858/858  1s 2ms/step - accuracy: 0.7398 - loss: 0.5356
Epoch 63/100
858/858  2s 2ms/step - accuracy: 0.7378 - loss: 0.5360
Epoch 64/100
858/858  3s 3ms/step - accuracy: 0.7397 - loss: 0.5352
Epoch 65/100
858/858  2s 2ms/step - accuracy: 0.7442 - loss: 0.5274
Epoch 66/100
858/858  2s 2ms/step - accuracy: 0.7407 - loss: 0.5359
Epoch 67/100
858/858  3s 2ms/step - accuracy: 0.7424 - loss: 0.5307
Epoch 68/100
858/858  1s 2ms/step - accuracy: 0.7420 - loss: 0.5320
Epoch 69/100
858/858  3s 3ms/step - accuracy: 0.7386 - loss: 0.5339
Epoch 70/100
858/858  2s 2ms/step - accuracy: 0.7399 - loss: 0.5353
Epoch 71/100
858/858  2s 2ms/step - accuracy: 0.7377 - loss: 0.5366
Epoch 72/100
858/858  2s 2ms/step - accuracy: 0.7451 - loss: 0.5308
Epoch 73/100
858/858  3s 2ms/step - accuracy: 0.7414 - loss: 0.5296
Epoch 74/100
858/858  1s 2ms/step - accuracy: 0.7370 - loss: 0.5376
Epoch 75/100
858/858  1s 2ms/step - accuracy: 0.7409 - loss: 0.5326
Epoch 76/100
858/858  2s 3ms/step - accuracy: 0.7398 - loss: 0.5354
Epoch 77/100
858/858  2s 2ms/step - accuracy: 0.7445 - loss: 0.5302
Epoch 78/100
858/858  1s 2ms/step - accuracy: 0.7453 - loss: 0.5269
Epoch 79/100
858/858  3s 2ms/step - accuracy: 0.7437 - loss: 0.5311
Epoch 80/100
858/858  1s 2ms/step - accuracy: 0.7410 - loss: 0.5342
Epoch 81/100
858/858  1s 2ms/step - accuracy: 0.7395 - loss: 0.5311
Epoch 82/100
858/858  1s 2ms/step - accuracy: 0.7412 - loss: 0.5330
Epoch 83/100
858/858  3s 3ms/step - accuracy: 0.7451 - loss: 0.5288
Epoch 84/100
858/858  2s 2ms/step - accuracy: 0.7419 - loss: 0.5305
Epoch 85/100
858/858  1s 2ms/step - accuracy: 0.7406 - loss: 0.5317
Epoch 86/100
858/858  2s 2ms/step - accuracy: 0.7413 - loss: 0.5324
Epoch 87/100
858/858  3s 2ms/step - accuracy: 0.7381 - loss: 0.5352
Epoch 88/100
858/858  1s 2ms/step - accuracy: 0.7416 - loss: 0.5315
Epoch 89/100
858/858  3s 3ms/step - accuracy: 0.7388 - loss: 0.5349
Epoch 90/100
858/858  2s 2ms/step - accuracy: 0.7359 - loss: 0.5375
Epoch 91/100
858/858  2s 2ms/step - accuracy: 0.7381 - loss: 0.5347
Epoch 92/100
858/858  2s 2ms/step - accuracy: 0.7340 - loss: 0.5382
Epoch 93/100
858/858  1s 2ms/step - accuracy: 0.7425 - loss: 0.5301
Epoch 94/100
858/858  3s 2ms/step - accuracy: 0.7424 - loss: 0.5295
Epoch 95/100
858/858  3s 3ms/step - accuracy: 0.7362 - loss: 0.5356
Epoch 96/100
858/858  2s 2ms/step - accuracy: 0.7364 - loss: 0.5392
Epoch 97/100
858/858  1s 2ms/step - accuracy: 0.7390 - loss: 0.5309
Epoch 98/100
858/858  2s 2ms/step - accuracy: 0.7379 - loss: 0.5351
Epoch 99/100
858/858  3s 2ms/step - accuracy: 0.7437 - loss: 0.5298
Epoch 100/100
858/858  3s 2ms/step - accuracy: 0.7413 - loss: 0.5309

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 2ms/step - accuracy: 0.7270 - loss: 0.5840
Loss: 0.5840498805046082, Accuracy: 0.7269679307937622

In [18]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.